* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

:root {
    --btn-color: #5956e9;
    --textk-col: #89898d;
    --number-size: 60px;
    --box-radius: 24px;
    --card-bg-color: #ecf2f6;
    --fb-bg-setion: #27272e;
    --shadow: 1px solid #ecf2f6;
    --mobile: #c4939d;

}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
} 
.now-card{
    width: 78%;
    margin-left: 3rem;
}
.crad-one{
    padding-top: 3rem;
    border-radius: var(--box-radius);
}
.input-filed-one{
    padding: 12px 20px;
    width: 82%;
    border-radius: var(--box-radius);
    margin: auto;
}

.input-filed-one:hover{
    border: 1px solid;
    box-shadow: 5px 10px var(--shadow);
}
.get-pricing{
    padding: 18px 20px;
    width: 82%;
    border-radius: 20px;
    margin: auto;
    margin-top: 3rem;
    background-color: var(--btn-color);
}
.mobile-number h1{
    color: var(--mobile);
}
.card-two{
    background-color: #27272e;
    margin: auto;
    border-radius: 14px;
    width: 72%;
    padding: 60px 50px;
    box-shadow: 0 9px 18px #00000040;
}
.card-t{
    margin-top: 5rem;
}


@media (max-width: 991.98px) {
    .card-t{
        margin-top: 2rem;
    }    
    .card-two{
        width: 100%;
        margin-top: 2rem;
    }
}
